<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- DPI setting of scanner -->
    <add key="SCAN.DPI" value="300"/>
    <!-- Spell Correction Dictionary -->
    <add key="OCR.DICTIONARY" value="C:\Users\Urano\Documents\Visual Studio 2013\Projects\image_processing\Spell.txt"/>
    <!-- Receipt template -->
    <add key="RECEIPT.TEMPLATE" value="..\..\Receipts.xml"/>
    <!-- template files -->
    <add key="TEMPLATE.STICKER" value="..\..\images\300dpi\TEMPLATE.STICKER.bmp" />
    <add key="TEMPLATE.CIRCLE" value="..\..\images\300dpi\CIRCLE.bmp"/>
    <add key="TEMPLATE.STAMP" value="..\..\images\300dpi\TEMPLATE.STAMP.bmp" />
    <add key="TEMPLATE.ZOLL_D" value="..\..\images\300dpi\ZOLL_D.bmp"/>
    <add key="TEMPLATE.EAGLE" value="..\..\images\300dpi\EAGLE.bmp"/>
    <add key="TEMPLATE.DOTS" value="..\..\images\300dpi\DOTS.bmp"/>
    <add key="TEMPLATE.LINES" value="..\..\images\300dpi\LINES.bmp"/>
    <add key="TEMPLATE.SINGEN" value="..\..\images\300dpi\SINGEN.bmp"/>
    <add key="TEMPLATE.LORRACH" value="..\..\images\300dpi\LORRACH.bmp"/>
    <add key="TEMPLATE.HAUPTZOLLAMT.SINGEN" value="..\..\images\300dpi\HAUPTZOLLAMT.SINGEN.bmp"/>
    <add key="TEMPLATE.HAUPTZOLLAMT.LORRACH" value="..\..\images\300dpi\HAUPTZOLLAMT.LORRACH.bmp"/>
    <!-- templates for reciept -->
    <add key="TEMPLATE.MULLER_HEADER" value="..\..\images\MULLER_HEADER.bmp"/>
    <add key="TEMPLATE.MULLER_FOOTER" value="..\..\images\MULLER_FOOTER.bmp"/>
    <add key="TEMPLATE.NORMA_HEADER" value="..\..\images\NORMA_HEADER.bmp"/>
    <add key="TEMPLATE.NORMA_FOOTER" value="..\..\images\NORMA_FOOTER.bmp"/>
    <!-- 200dpi 
    <add key="TEMPLATE.STICKER" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\TEMPLATE.jpg" />
    <add key="TEMPLATE.STAMP" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\STAMP.SINGEN.jpg" />
    <add key="TEMPLATE.ZOLL_D" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\ZOLL_D.png"/>
    <add key="TEMPLATE.EAGLE" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\EAGLE.png"/>
    <add key="TEMPLATE.DOTS" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\DOTS.png"/>
    <add key="TEMPLATE.LINES" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\LINES.png"/>
    <add key="TEMPLATE.HAUPTZOLLAMT.SINGEN" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\HAUPTZOLLAMT.png"/>
    <add key="TEMPLATE.SINGEN" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\SINGEN.png"/>
    <add key="TEMPLATE.HAUPTZOLLAMT.LORRACH" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\HAUPTZOLLAMT.png"/>
    <add key="TEMPLATE.LORRACH" value="C:\Users\Incubator\Pictures\ZOLLAMT_samples\200dpi\SINGEN.png"/>
    -->
    <!-- Threshols of template parts -->
    <add key="THRESHOLD.CIRCLE" value="0.7"/>
    <add key="THRESHOLD.ZOLL_D" value="0.65" />
    <add key="THRESHOLD.EAGLE" value="0.75" />
    <add key="THRESHOLD.DOTS" value="0.7" />
    <add key="THRESHOLD.LINES" value="0.7" />
    <add key="THRESHOLD.HAUPTZOLLAMT" value="0.75" />
    <add key="THRESHOLD.SINGEN" value="0.75" />
    <add key="THRESHOLD.LORRACH" value="0.75" />
    <!-- Turn off template match -->
    <!-- 
    <add key="TURNOFF.CIRCLE" />
    <add key="TURNOFF.DOTS" />
    <add key="TURNOFF.LINES" />
    -->
  </appSettings>
</configuration>